body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
  margin: 0;
  padding: 0;
}

/* Header and Footer */
header {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: 65px;
}
header .profile-thumbnail {
  border-radius: 4px;
  margin: 0 0 0 auto;
  display: flex;
}
header .profile-name {
  color: rgb(143, 1, 1);
  width: auto;
  height: 50px;
  display: flex;
  flex-direction: row;
  margin-left: 0 0 0 auto;
  padding-left: 10px;
}

header .profile-caption {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  font-style: italic;
  color: rgb(143, 1, 1);
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

header .follow-btn {
  display: flex;
  margin: 0 0 0 auto;
}

header .follow-btn button {
  color: rgb(143, 1, 1);
  border: 0;
  border-radius: 3px;
  padding: 10px;
  background: transparent;    
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #3587A4;
  flex-direction: row;
  width: 100%;
  height: 65px;
}

footer .message {
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  color: #FFF;
  margin: auto;
}
/* end Header and Footer */

/* Navigation */
.navigation {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
  background-color: #3587A4;
  overflow: auto;
  padding: 18px 50px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navigation ul {
  padding: 0;
  margin: 0;
}

.navigation li {
  color: #FFF;
  display: inline-block;
  /* font-family: 'Oxygen', sans-serif; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  padding: 20px 18px 10px 18px;
  text-transform: uppercase;
}

.active {
  color: #88CCF1;
}

.navigation a {
  color: #EEE;
  text-decoration: #FFF;
}
/* end Navigation */

/* Table */
table {
  background: #88CCF1;
  height: 40%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 80%;
}

thead th {
  background: #AC6D6A;
  color: rgb(255, 255, 255);
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 2px;
}

th, td {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
  text-align: left;
  width: 33.3333%;
}
/* end Table */

.search {
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 3px;
  color: #AAA;
  padding: 20px;
  margin: 50px auto 0px auto;
  width: 77%;
}

/* Poetry Page CSS */
h1 {
  margin-left: 30px;
}

#poetryPage {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
}

#poetryPage li{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  color: black;
}

#poetryPage p {
  width: 33%;
  padding: 1px;
}

#poetryPage p strong{
  font-size: 24px;
  color: black;
}

#poetryPage a{
  color: brown;
}

.poetryLinks {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
  overflow: auto;
  padding: 5px 20px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
}

.poetryLinks ul {
  padding: 0;
  margin: 0;
}

.poetryLinks li {
  color: blue;
  display: inline-block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0;
  padding: 18px 18px 18px 18px;
}
/* end Poetry Page CSS ^/

/* Main Page CSS */
#mainPage {
  background-color:white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: medium;
  margin-left: 30px;
}
/* end Main Page CSS */

/* Writing Page CSS */
#writingPage {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
  display: flex;
  flex-direction: row; 
}

#box-1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0px 40px 10px 40px;
}

#box-2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0px 40px 10px 40px;
}
/* end Writing Page CSS */

/* About Me Page CSS */
#aboutMePage {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
  margin-left: 30px;
}
/* end About Me Page CSS */

/* Story Page CSS */
#storiesAndEssaysPage {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 30px;
}

#storiesAndEssaysPage li{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  color: black;
}

#storiesAndEssaysPage p strong{
  font-size: 24px;
  color: black;
}

#storiesAndEssaysPage a{
  color: brown;
}

.storyLinks {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
  overflow: auto;
  padding: 5px 20px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
}

.storyLinks ul {
  padding: 0;
  margin: 0;
}

.storyLinks li {
  color: blue;
  display: inline-block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0;
  padding: 18px 18px 18px 18px;
}
/* end Story Page CSS ^/
